streamlit
python-dotenv

langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters

faiss-cpu
sentence-transformers

unstructured
openpyxl
msoffcrypto-tool

pandas
numpy